In [9]:
import numpy as np
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
       'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
       'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
       'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [11]:
#question1
df.head(3)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [27]:
#question2
df = df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [28]:
#question3
df = pd.DataFrame(exam_data , index=labels)
print("Select specific columns and rows:")
print(df.iloc[[0,1,2,3,4,5,6,7,8,9], [0, 1]])

Select specific columns and rows:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [24]:
#question4
df.loc['k'] = [ 'Suresh',15.5 ,1, 'yes']
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [20]:
#question5
df.pop('attempts')
print(df)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes

In [21]:
#question6
df['succes'] = ["1" if s >=10 else "0" for s in df['score']] 
print(df)

        name  score qualify succes
a  Anastasia   12.5     yes      1
b       Dima    9.0      no      0
c  Katherine   16.5     yes      1
d      James    NaN      no      0
e      Emily    9.0      no      0
f    Michael   20.0     yes      1
g    Matthew   14.5     yes      1
h      Laura    NaN      no      0
i      Kevin    8.0      no      0
j      Jonas   19.0     yes      1
k     Suresh   15.5     yes      1